* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, p {
    padding: 8px;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 70px 1fr 50px;
    grid-template-columns: 1fr;
}

header {
    background-color: orange;
    /* height: 80px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

h2 {
    margin-left: 5px;
    font-family: 'Times New Roman';
    font-size: 30px;;
}

#busca {
    border: none;
    width: 200px;
    margin-right: 40px;
}

#textoBusca {
    float: left;
    padding-left: 15px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 200px;
}

.video {
    width: 100vw;
    height: 100vh;
}

button {
    padding: 10px;
    margin: 10px;
}

footer {
    background-color: orange;
    /* height: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
}