* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 5px;
}

h2, p {
    padding: 2rem;
}

a {
    padding-bottom: 2rem;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 14rem 1fr 10px;
    grid-template-columns: 1fr;
}

header {
    background-color: orange;
    /* height: 80px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

h2 {
    margin-left: 1rem;
    font-family: 'Times New Roman';
    font-size: 6rem;
}

#busca {
    border: none;
    max-width: 40rem;
    margin-right: 8rem;
}

#textoBusca {
    float: left;
    padding-left: 3rem;
    font-size: 4rem;
    border: none;
    height: 6rem; 
    width: 40rem;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 4rem;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border: solid 1px black;
    font-size: 4rem;
    padding-bottom: 2rem;
}

.media {
    width: 20vw;
}

footer {
    background-color: orange;
    /* height: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
}       

@media screen and (max-device-width: 500px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .video {
        font-size: 2rem;
    
    }

    .media {
        height: 100%;
        width: 100%;
    }

}   

